.App-wrapper {
  text-align: center;
  height: 100vh;
  overflow-x: hidden;
}
.App-main{
  background-color: white;
}

.home-page{
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/9a/f2/99/9af299c464af1be781f3f30cc567ee9f.gif);
  background-size: cover;
}
